@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}

/****top bar ***/
.topbar .container{
	border-bottom: 2px solid oldlace;
	display: flex;
	margin-top: 25px;
	justify-content: space-between;
	
}
.topbar .topbar-left{
	padding-bottom: 5px;
	font-weight: 500;
	display: flex;
	padding: 2px 10px;
	
}
.topbar .topbar-left i{
	/*margin-right: 5px;
	margin-left: 10px;*/
	color: #f56522;
	padding: 2px 10px;
}
.topbar .container .topbar-right{
	display: flex;
	padding: 2px 10px;
}
.topbar .container .topbar-right i{
	color: #f56522;
	padding: 2px 10px;
}
.topbar .container .topbar-right .menu > ul > li{
	/*display: inline-block;*/
	line-height: 5px;
	
}
.topbar .container .topbar-right a{
	color: #000;
}

/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:15px;
  box-shadow: 10px 5px 20px #80808036;
}
.header .item-left{
	flex:0 0 17%;
}
/*.header .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}*/
.header .logo a .logo-img{
  width: 100px;
}
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#ea4636;
}
/* banner section */
.banner-section{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/****my search*****/
.item-right .fa-search{
	transition: all 0.5s ease;
}
.search-text{
	display: none;
	
}
.sremove{
	display: block;
}

/******search bar*****/

.search {
	width: 100%;
	position: relative;
	display: flex;
	top: -35px;
	background-color: #dfe9e448;
	padding: 10px 10px;
	transition: 0.5s ease;
	
  }
  
  .searchTerm {
	width: 100%;
	border: 3px solid #f56522;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
  }
  
  .searchTerm:focus{
	color: #000;
	
  }
  
  .searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #f56522;
	background: #f56522;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
	width: 30%;
	position: absolute;
	top: 160px;
	right: 75px;
	transition: all 0.5s ease;
	
	
	/*transform: translate(-50%, -50%);*/
  }
  .slider-container{
	  border: 5px solid #f56522;
	  width: 100%;
	  margin: 0 auto;
	  height: 70vh;
	  max-width: 100rem;
	  position: relative;
	  border-radius: 0.5rem;
	  /*margin-top: 4rem;*/
	  overflow: hidden;
  }
  .slide{
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background: #f5652259;
	  color: white;
	  place-items: center;
	  display: grid;
	  text-align: center;
	  transition: all 0.25s ease-in-out;
  }
  .slide-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
  }
  .slide h1{
	font-size: 5rem;
  }
  /*.slide:nth-child(1) h1{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
  }
  .slide:nth-child(2) h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slide:nth-child(3) h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/
  .btn-container{
	  position: absolute;
	  width: 100%;
	  height: 5vh;
	  top: 50%;
  }
  .btn-container .btnNext{
	position: absolute;
	top: 50%;
	right: 25px;
	background: none;
	border: transparent;
	font-size: 4rem;
	color: #f56522;
  }
  .btn-container .btnPrev{
	position: absolute;
	top: 50%;
	left: 25px;
	background: none;
	border: transparent;
	font-size: 4rem;
	color: #f56522;
  }

  /*Meunu section css*/
  .p-menu{
	  padding: 5rem 0;
  }
  .p-title{
	  text-align: center;
	  margin-bottom: 2rem;
  }
  .underline{
	  width: 5rem;
	  height: 0.25rem;
	  background: oldlace;
	  margin-left: auto;
	  margin-right: auto;
  }
  .p-btn-container{
	  margin-bottom: 4rem;
	  display: flex;
	  justify-content: center;
  }
  

  .filter-btn{
	  background: transparent;
	  border-color: gold;
	  font-size: 1rem;
	  text-transform: capitalize;
	  margin: 0 0.5rem;
	  letter-spacing: 1px;
	  border-radius: 0.5rem;
	  padding: 0.375rem 0.75rem;
	  color: goldenrod;
	  cursor: pointer;
	  transition: 0.3s linear;
  }
  .filter-btn:hover{
	  background: goldenrod;
	  color: white;
  }
  .section-center{
	  width: 90vw;
	  margin: 0 auto;
	  max-width: 1170px;
	  display: grid;
	  gap: 3rem 2rem;
	  justify-items: center;
  }
  .p-menu-item{
	display: grid;
	gap: 1rem 2rem;
	max-width: 25rem;
  }
  .p-photo {
	object-fit: cover;
	height: 200px;
	border: 0.25rem solid goldenrod;
	border-radius: 0.5rem;
  }
  .p-item-info header{
	  display: flex;
	  justify-content: space-between;
	  border-bottom: 0.5px dotted orangered;
  }
  .p-item-info h4{
	  margin-bottom: 0.5rem;
  }
  .p-price{
	  color: orangered;
  }
  .p-item-text{
	  margin-bottom: 0;
	  padding-top: 1rem;
  }


  
/*responsive*/
@media(max-width: 991px){


	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
	.slider-container{
		height: 50vh;
	}
	.slide{
		height: 70%;
	} 
	.btn-container{
		position: absolute;
		top: 45%;
		
	}
	
}
@media (max-width: 768px){
	.slider-container{
		height: 40vh;
	}
	.slide{
		height: 70%;
	}
	.btn-container{
		position: absolute;
		top: 40%;
	} 
	
}

@media screen and (min-width: 768px){
	.p-menu-item{
		grid-template-columns: 225px 1fr;
		gap: 0 1.25rem;
		max-width: 40rem;
		
	}
	.p-photo {
		height: 175px;
	  }
	  
}
@media screen and (min-width: 1200px){
	.slider-container{
		width: 100%;
		height: 70vh;
	}
	.section-center{
		width: 95vw;
		grid-template-columns: 1fr 1fr;
	}
	.p-photo {
		height: 150px;
	  }
	  
}

@media(max-width: 600px){
	.topbar .topbar-left{
		display: none;
	}
	.topbar .container .topbar-right{
		display: none;
	}
	.header{
		padding: 5px;
	}
	.slider-container{
		height: 30vh;
	}
	.slide{
		height: 70%;
	}
	.btn-container{
		position: absolute;
		top: 30%;
		
	} 
	.btn-container .btnPrev{
		font-size: 2rem;
	}
	.btn-container .btnNext{
		font-size: 2rem;
	}

}
@media(max-width: 414px){
	.section-center{
		width: 100%;
	}
	.p-menu{
		width: 100%;
		background-color: rgba(148, 141, 141, 0.178);
	}
	.p-menu-item{
		grid-template-columns: 125px 2fr;
		gap: 0 2rem;
		
		
	}
	.p-photo {
		height: 100px;
		margin-left: 25px;
	}
	.p-btn-container{
		display: block;
		margin: 0 10px;
		margin-bottom: 4rem;
	}
	.filter-btn {
		padding: 5px 10px;
		margin-bottom: 10px;
	}
	  
}





